@use '../variables';

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-radius: 12px;
    white-space: wrap;

    &--primary {
        color: variables.$textColor;
        background-color: variables.$bgButtonColor;
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
    }
}